
/*Criando variáveis para utilizar depois*/
:root {

    --cor-de-fundo: #000000;
    --cor-de-fundo2: #111111;
    --cor-de-fundo3: #2e2e2e;
    --cor-botao-fundo: #118611;
    --cor-botao-fundo2: #11b111;
    --cor-botao-fundo3: #d3c017;
    --cor-botao-fundo4: #1fa11f;

    --cor-texto:#ffffff;
    --cor-texto2:#11b111;
    --cor-texto3: #b2b2b2;
    --cor-texto4: #332200;


}
/*resetando a página body e ul*/

body {
    margin: 0;/*resetando espaço externo de toda a página*/
    font-family: Arial, Helvetica, sans-serif;
 
}
ul {
    margin: 0;/*resetando espaço externo*/
    padding: 0;/*resetando espaço interno*/
    list-style:none;/*deixando sem estilo*/
}

a {
    text-decoration: none;/*deixa sem sublinhado (tira a linha que fica embaixo da palavra)*/
}




/*-------------------- Parte principal do site main ----------------------------*/

img {
    width: 100%;
    /*
    Ocupação de largura total: Um elemento com display: block ocupa automaticamente toda a 
    largura disponível do contêiner pai, a menos que uma largura específica seja definida.
    */
    display: block;
}

/*resetando os espaçementos externos das tags abaixo*/

h1, p, blockquote {
    margin: 0px;
}




